<h2>Alta de solicitud</h2>
<form id="alta-solicitud-form" class="alta-form" [formGroup]="myForm">
    <div class="row">
        <div class="column">
          <div class="input-group">
            <label for="input-nombre">Nombre Completo: </label>
            <input id="input-nombre" [formControl]="myForm.controls.nombre">
          </div>
          <div class="input-group">
            <label for="input-email">Email: </label>
            <input type="email" id="input-email" [formControl]="myForm.controls.email">
          </div>
          <div class="input-group">
            <label for="input-fecha-nac">Fecha de nacimiento: </label>
            <input type="datetime-local" id="input-fecha-nac" [formControl]="myForm.controls.fechaNacimiento">
          </div>
          <div class="input-group">
            <label for="input-exp">Años de Experiencia: </label>
            <input type="number" id="input-exp" [formControl]="myForm.controls.aniosExperiencia">
          </div>
        </div>
        <div class="column">
          <fieldset class="puesto">
            <legend>¿Qué puesto estás solicitando?</legend>
            <div class="puestos">
                <label> <input type="radio" id="Programador" value="Programador" formControlName="puestoSolicitado"> Programador </label>
                <label> <input type="radio" id="Diseñador" value="Diseñador" formControlName="puestoSolicitado"> Diseñador </label>
                <label> <input type="radio" id="Analista" value="Analista" formControlName="puestoSolicitado"> Analista </label>
                <label> <input type="radio" id="JefeProyecto"  value="JefeProyecto" formControlName="puestoSolicitado"> Jefe de Proyecto </label>
            </div>
          </fieldset>
        </div>
      <div class="row">
        <button id="submit" (click)="crearSolicitud()">Grabar Solicitud</button>
      </div>
    </div>
    <!-- <p *ngIf="myForm.errors != null">Errores de validación: (all fields): {{ myForm.errors | json }}</p> -->
</form>
