<div class="main">
  <div class="content">
    
    <header>
      <hgroup>
        <h1>Gestión de solicitudes</h1>
      </hgroup>
    </header>

    <main>
      <router-outlet />
    </main>
    <aside>
      <section>
        <h1>Enlaces de interés</h1>
        <ul>
          <li><a href="https://angular.dev/">Angular</a></li>
          <li><a href="https://www.typescriptlang.org/">Typescript</a></li>
        </ul>
      </section>
    </aside>

    <footer class="footer">GESTIONLABORAL®</footer>

  </div>
</div>
