<form [formGroup]="applicantForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Nombre:</label>
    <input id="name" formControlName="name" />
    @if (applicantForm.controls.name.invalid && (applicantForm.dirty || applicantForm.touched)) {
    <div>
      Nombre es requerido.
    </div>
    }
  </div>

  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email" />
    @if (applicantForm.controls.email.invalid && (applicantForm.dirty || applicantForm.touched)) {
    <div>
      Email es requerido y debe ser válido.
    </div>
    }
  </div>

  <div>
    <label for="age">Edad:</label>
    <input id="age" type="number" formControlName="age" />
    @if (applicantForm.controls.age.invalid && (applicantForm.dirty || applicantForm.touched)) {
    <div>
      Edad es requerida y debe ser un número positivo.
    </div>
    }
  </div>

  <div>
    <label for="yearsExp">Años de experiencia:</label>
    <input id="yearsExp" type="number" formControlName="yearsExp" />
    @if (applicantForm.controls.yearsExp.invalid && (applicantForm.dirty || applicantForm.touched)) {
    <div>
      Años de experiencia es requerido y debe ser un número positivo.
    </div>
    }
  </div>

  <div>
    <label for="position">Posición:</label>
    <input id="position" formControlName="position" />
    @if (applicantForm.controls.age.invalid && (applicantForm.dirty || applicantForm.touched)) {
    <div>
      Posición es requerida.
    </div>
    }
  </div>

  <div>
    <label for="dateOfApplication">Fecha de aplicación:</label>
    <input id="dateOfApplication" type="date" formControlName="dateOfApplication" />
    @if (applicantForm.controls.dateOfApplication.invalid && (applicantForm.dirty || applicantForm.touched)) {
    <div>
      Fecha de aplicación es requerida.
    </div>
    }
  </div>

  <div>
    <label for="status">Estado:</label>
    <select id="status" formControlName="status">
      @for (status of statuses; track status) {
      <option [value]="status">{{ status }}</option>
      }
    </select>
    @if (applicantForm.status && (applicantForm.dirty || applicantForm.touched)) {
    <div>
      Estado es requerido.
    </div>
    }
  </div>

  <button type="submit" [disabled]="applicantForm.invalid">Enviar</button>
  <form action=""></form>