<div class="filtro">
  <label class="espacio" for="nombre">Filtrar por nombre: </label>
  <input id="nombre" [(ngModel)] = "nombre" (keyup)="buscarPorNombre()">

  <label class="espacio" for="email">Filtrar por email: </label>
  <input id="email" [(ngModel)] = "email" (keyup)="buscarPorEmail()">
</div>
@if(solicitudes().length>0){
  <div>
    <table class="collectionTable">
      <tr>
        <th>Nombre</th>
        <th>email</th>
        <th>edad</th>
        <th (click)="ordenar('experiencia')">Experiencia</th>
        <th (click)="ordenar('posicion')">Posicion</th>
        <th>Fecha</th>
        <th>Estado</th>
      </tr>
      @for (item of solicitudes(); track $index) {
        <tr class="item" (click)="editarSolicitud(item)">
          <td>{{item.nombre}}</td>
          <td>{{item.email}}</td>
          <td>{{item.edad}}</td>
          <td>{{item.experiencia}}</td>
          <td>{{item.puesto}}</td>
          <td>{{item.fecha}}</td>
          <td>{{item.estado}}</td>
        </tr>
      }
    </table>
    </div>
}@else {
  <div><h2>No se han encontrado candidatos con los criterios de busqueda seleccionados</h2></div>
}
