<!-- <div class="filtro">
    Ordenar por nombre: <select type="texto"  placeholder="Ordenar por" >
    <option value="puesto">Puesto Solicitado</option>
    <option value="experiencia">Años de Experiencia</option>
    <option value="fecha">Fecha de Solicitud</option>    
  </select> 
  <br>
</div> -->
<div class="ordenar">
  Ordenar por nombre: <select [(ngModel)]="selectedOption">
  <option *ngFor="let o of options">
     {{o.name}}
  </option>
</select>
 <button (click)="ordenar()">Ordenar</button>
</div>

<!-- <p>Selected option: {{ selectedOption }}</p>
<p>Button output: {{ printedOption }}</p> -->

<table class="collectionTable">
    <thead>
      <tr>
        <td>Nombre completo</td>
        <td>Email</td>
        <td>Edad</td>
        <td>Años de experiencia</td>
        <td>Puesto solicitado</td>
        <td>Fecha de solicitud</td>
        <td>Estado de la solicitud</td>
      </tr>
   
    </thead>
    
    <tbody>
      @for (solicitud of solicitudes; track solicitud._identifier) {
        <tr>          
          <td>
            {{ solicitud.nombre }}
          </td>                
          <td>
            {{ solicitud.email }}
          </td>                
          <td>
            {{ solicitud.edad }}
          </td>                
          <td>
            {{ solicitud.anyosExperiencia }}
          </td>                
          <td>
            {{ solicitud.puestoSolicitud }}
          </td>                                           
          <td>{{solicitud.fechaSolicitud | date:'dd/MM/yyyy'}}</td>
          <td>
            {{ solicitud.estadoSolicitud }}
          </td>       
        </tr>
      }
    </tbody>
</table>
  
